<footer>
    <p><a href="https://github.com/bardsnight"><strong>Bardsnight</strong></a> &copy; All rights reserved.</p><br />
    Big thanks to The Net Ninja for this lecture. <br />All images belongs to The Net Ninja.
</footer>

</body>
</html>
